 body { font-family: sans-serif; margin: 20px; background: #ffffff; }
h1 { text-align: center; }
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; gap: 20px;
    margin-top: 20px;
}
.item {
    background: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a { text-decoration: none; color: black; }
img {
    
    width: 100%;
    aspect-ratio: 1 / 1;         /* 1:1の比率を維持 */
    object-fit: cover;           /* 画像をトリミングして枠にフィット */
    object-position: center;     /* 画像の中心を表示 */
    display: block;
}

.sketch-name {
    margin-top: -0.7em;
    margin-bottom: 0;
    font-size: 2em;
}